$primary-color: #6190E8 !default;
$info-color: #78a4fa !default;
$success-color: #13ce66 !default;
$danger-color: #ff4949 !default;
$warning-color: #ffc82c !default;

// 字体颜色
$dark-font-color: #333 !default;
$light-font-color: #666 !default;
$muted-font-color: #e5e5e5 !default;

// 边框颜色
$border-color: #c5d9e8 !default;

// 背景颜色
$bg-light-color: #ecf5fd !default;
$bg-color: #fafbfc !default;