@import "@src/app.scss";
page {
  background-color: #fff;
}

.about-us-container {
  margin-top: 30rpx;
  .name {
    padding: 30rpx;
    font-size: 40rpx;
    font-weight: 700;
    color: $sup-color;
    background-image: url('../../../images/like.png');
    background-position: -5px -2px;
    background-repeat: no-repeat;
    background-size: 84rpx 84rpx;
  }
  .description {
    padding: 0rpx 30rpx;
    margin-bottom: 20rpx;
    font-size: 32rpx;
    color: $light-font-color;
    letter-spacing: .02em;
    &.link {
      text-indent: 1em;
    }
  }

  .share-button {
    margin: 50rpx 30rpx;
    color: #fff;
    background-color: $primary-color;
  }
}