@import "@src/app.scss";
.textarea_container {
  border-bottom: 0px;
}
.at-list__item-content  {
  flex-basis: 100rpx;
}
.at-list__item-extra {
  max-width: 500rpx;
}
.item-extra {
  flex: 1;
}
.position_picker {
  padding-left: 27rpx;
}
.submit_bottom {
  margin: 20px 30px;
}